@model Novateca.Web.Models.Book

@using Microsoft.AspNetCore.Http.Extensions

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_UserPagesLayout.cshtml";
}

<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center" style="background-color:white;">
        
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center"><h1>@Html.DisplayFor(model => model.TitleMain)</h1></div>
        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 text-center">
            <img src="@Html.DisplayFor(model => model.URLImage)" style="width: 200px; height: 350px;" />
        </div>
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 text-center">
            <div>
                <h4>Tipo de obra: livro</h4>
                <hr />
                <dl class="dl-horizontal">
                    <dt>
                        Título do livro
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.TitleMain)
                    </dd>
                    <dt>
                        Subtítulo
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.SubTitle)
                    </dd>
                    <dt>
                        Autor principal:
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.AuthorMain)
                    </dd>
                    <dt>
                        Autores:
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Authors)
                    </dd>
                    <dt>
                        Edição:
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Edition)
                    </dd>
                    <dt>
                        Local de Publicação:
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.PlaceOfPublication)
                    </dd>
                    <dt>
                        Editora:
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.PublishingCompany)
                    </dd>
                    <dt>
                        Ano:
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.YearOfPublication)
                    </dd>
                    <dt>
                        Total de páginas:
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.TotalPages)
                    </dd>
                    <dt>
                        Assunto:
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.BookSubject)
                    </dd>
                </dl>
            </div>

            <div>
                <a asp-action="Edit" asp-route-id="@Model.BookID">Editar catalogação</a> |
                <a asp-action="Index">Voltar para lista</a>
            </div>
        </div>
        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 text-center">
        </div>
        <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5 text-center">
            <form asp-controller="BookComments" asp-action="Create" method="post">
                <input asp-for="BookID" type="hidden" />
                <div class="form-group">
                    <label for="Comment" class="control-label"></label>
                    <input name="Comment" class="form-control" placeholder="Deixe seu comentário aqui" />
                    <span validation-for="Comment" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Comentar" class="btn btn-default" />
                </div>
            </form>
            <br />
            
            <div class="comments-list">
                @foreach (var comment in (IEnumerable<UsersComments>)ViewBag.Comments)
                {
                <div class="container-fluid" style="background-color:lightgray; padding:20px; border:solid; border-color: whitesmoke; width: 500px;">
                    <div class="row">
                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-center">
                            <img src="@comment.PhotoUser" style="width: 80px; height: 80px; margin-top: 10px">
                            <p style="font-size:10px;">@comment.Firstname @comment.Lastname comentou em @comment.CommentDate</p>
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-center">
                            <p style="background-color:aliceblue;">@comment.Comment </p>
                            @if(@comment.UserID == ViewBag.UserID)
                            {
                                <a asp-controller="BookComments" asp-action="DisabledComment" asp-route-id="@comment.BookCommentID" style="text-align: right; font-size: 10px">Remover comentário@*<img src="~/images/remove.png" style="width:20px; height:20px" />*@</a>
                            }

                        </div>
                    </div>
                    
                </div>

                }
            </div>
        </div>
    </div>
</div>



