@model IEnumerable<Novateca.Web.Models.Book>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_UserPagesLayout.cshtml";
}
@if (User.IsInRole("Admin"))
{
    <h4>
        <a asp-action="Create">Catalogar nova obra</a>
    </h4>
}
<br />
<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="margin-bottom: 100px">
    @foreach (var item in Model)
    {
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
            <div class="card" style="width: 250px; border: solid; border-color: aliceblue; border-radius: 5px; margin-bottom: 30px">
                <a asp-action="Details" asp-route-id="@item.BookID">
                    @{
                        var imgSrc = "/images/sem imagem.jpg";
                        if (item.AvatarImage != null)
                        {
                            var base64 = Convert.ToBase64String(item.AvatarImage);
                            imgSrc = String.Format("data:image/gif;base64,{0}", base64);
                        }
                    }
                    <img src="@imgSrc" style="width: 200px; height: 200px;" />
                </a>
                <div class="card-body" style="margin:5px;">
                    <h5 class="card-title text-center"><b>@Html.DisplayFor(modelItem => item.TitleMain)</b></h5>
                    <p class="card-author text-center" style="font-size: 12px">@Html.DisplayFor(modelItem => item.Authors)</p>
                    <p class="card-abstract text-center" style="font-size: 10px">@Html.DisplayFor(modelItem => item.Abstract)</p>
                    <div class="card-options text-center">
                        @if (User.IsInRole("Admin"))
                        {
                            <a asp-action="Edit" asp-route-id="@item.BookID"><i class="fa fa-pencil-square-o fa-2x" aria-hidden="true"></i></a>
                        }
                        <div bookId="@item.BookID" class="btnLike" style="display: inline-block;cursor:pointer"><i class="fa @(ViewBag.BookLikes.Contains(item.BookID) ? "fa-heart": "fa-heart-o") fa-2x" aria-hidden="true" style="color: red"></i></div>
                        @*<a asp-action="Create" asp-route-id="@item.BookID"><i class="fa fa-commenting fa-2x" aria-hidden="true"></i></a>*@
                        <div bookId="@item.BookID" class="btnFavorite" style="display: inline-block;cursor:pointer"><i class="fa @(ViewBag.FavoriteBooks.Contains(item.BookID) ? "fa-star": "fa-star-o") fa-2x" aria-hidden="true" style="color: yellow"></i></div>
                        @if (User.IsInRole("Admin"))
                        {
                            <a asp-action="Delete" asp-route-id="@item.BookID"><i class="fa fa-trash-o fa-2x" aria-hidden="true"></i></a>
                        }
                    </div>
                </div>
            </div>
        </div>
    }
</div>

@section Scripts{
    <script>
    $(".btnLike").on("click", function () {
        obj = $(this);
        $.ajax({
            method: "POST",
            url: "@Url.Action("Like","BookLikes")",
            dataType: "json",
            data: { id: obj.attr("bookId") },
            success: function (data) {
                //$.notify(data, "success");
                obj.css({ "color": "red" })
                location.reload();
            }
        });
    });

     @*$("body").on("onload", function () {
        obj = $(this);
        $.ajax({
            method: "POST",
            url: "@Url.Action("Like","BookLikes")",
            dataType: "json",
            data: { id: obj.attr("bookId") },
            success: function (data) {
                //$.notify(data, "success");
                obj.css({ "color": "red" })
                location.reload();
            }
        });
    });*@

     $(".btnFavorite").on("click", function () {
        obj = $(this);
        $.ajax({
            method: "POST",
            url: "@Url.Action("Favorite","FavoriteBooks")",
            dataType: "json",
            data: { id: obj.attr("bookId") },
            success: function (data) {
                //$.notify(data, "success");
                obj.css({ "color": "yellow" })
                location.reload();
            }
        });
    });

    </script>
}

<style>
    .fa-2x {
        font-size: 1.7em;
        color: #02223e;
    }
</style>