@model IEnumerable<Novateca.Web.Models.BookLoan>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_UserPagesLayout.cshtml";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.LoanDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DevolutionDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DevolutionDateMade)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Book)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.LoanDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DevolutionDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DevolutionDateMade)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Book.Edition)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.BookLoanID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.BookLoanID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.BookLoanID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
