@model Novateca.Web.Models.MultimediaComment

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_UserPagesLayout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>MultimediaComment</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ApplicationUser)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ApplicationUser.FirstName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Multimedia)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Multimedia.DGM)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Comment)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Comment)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CommentDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CommentDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CommentEnabled)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CommentEnabled)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.MultimediaCommentID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
