@model IEnumerable<Novateca.Web.Models.MultimediaLike>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_UserPagesLayout.cshtml";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ApplicationUser)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Multimedia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LikeDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LikeEnabled)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ApplicationUser.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Multimedia.DGM)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LikeDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LikeEnabled)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.MultimediaLikeID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.MultimediaLikeID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.MultimediaLikeID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
