@model IEnumerable<Novateca.Web.Models.Book>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_UserPagesLayout.cshtml";
}
<div class="main">
    <!--
         <h2>Index</h2>

    <p>
        <a asp-action="Create">Create New</a>
    </p>
        -->
    @foreach (var item in Model)
    {
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <img class="card-img-top" src="@Html.DisplayFor(modelItem => item.URLImage)" alt="Card image cap"
                  style="width: 200px; height: 200px"    
                     >
                <h5 class="card-title">@Html.DisplayFor(modelItem => item.TitleMain) :  @Html.DisplayFor(modelItem => item.SubTitle)</h5>
                <h6 class="card-subtitle mb-2 text-muted">@Html.DisplayFor(modelItem => item.Authors)</h6>
                
                <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="card-link">Card link</a>
            <a href="#" class="card-link">Another link</a>
    -->
            </div>
        </div>
    }
    <!--
         <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.TitleMain)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SubTitle)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.AuthorMain)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Authors)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Edition)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Locate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PublishingCompany)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Year)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TotalPages)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Subject)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.URLImage)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.URLEbook)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.TitleMain)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SubTitle)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.AuthorMain)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Authors)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Edition)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Locate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PublishingCompany)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Year)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TotalPages)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Subject)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.URLImage)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.URLEbook)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.BookID">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.BookID">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.BookID">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

        -->

</div>
