@model Novateca.Web.Models.Multimedia

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_UserPagesLayout.cshtml";
}

<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center" style="background-color:white;">

        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center"><h1>@Html.DisplayFor(model => model.TitleMain)</h1></div>
        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 text-center">
            @{
                var imgSrc = "/images/sem imagem.jpg";
                if (Model.AvatarImage != null)
                {
                    var base64 = Convert.ToBase64String(Model.AvatarImage);
                    imgSrc = String.Format("data:image/gif;base64,{0}", base64);
                }
            }
            <img src="@imgSrc" style="width: 200px; height: 350px;" />
        </div>
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 text-center">
            <div>
                <h4>Tipo de obra: multimídia</h4>
                <hr />
                <dl class="dl-horizontal">
                    <dt>
                        Título da multimídia
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.TitleMain)
                    </dd>
                    <dt>
                        Designação Geral do Material (DGM)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.DGM)
                    </dd>
                    <dt>
                        Subtítulo
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.SubTitle)
                    </dd>
                    <dt>
                        Direção
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Director)
                    </dd>
                    <dt>
                        Local de lançamento
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.PlaceOfPublication)
                    </dd>
                    <dt>
                        Companhia cinematográfica
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.PublishingCompany)
                    </dd>
                    <dt>
                        Ano de lançamento
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.YearOfPublication)
                    </dd>
                    <dt>
                        Descrição física do material
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.PhysicalDescription)
                    </dd>
                    <dt>
                        Gênero
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.MultimediaSubject)
                    </dd>
                    <dt>
                        Sinopse
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Abstract)
                    </dd>
                    <dt>
                        Nota de participantes
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.NoteOfParticipants)
                    </dd>
                    <dt>
                        Público alvo
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.TargetAudience)
                    </dd>
                    <dt>
                        Idioma
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Language)
                    </dd>
                </dl>
            </div>
            <div>
                <a asp-action="Edit" asp-route-id="@Model.MultimediaID">Editar catalogação</a> |
                <a asp-action="Index">Voltar para lista</a>
            </div>
        </div>
        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 text-center">
        </div>
        <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5 text-center">
            <form asp-controller="MultimediaComments" asp-action="Create" method="post">
                <input asp-for="MultimediaID" type="hidden" />
                <div class="form-group">
                    <label for="Comment" class="control-label"></label>
                    <input name="Comment" class="form-control" placeholder="Deixe seu comentário aqui" />
                    <span validation-for="Comment" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Comentar" class="btn btn-default" />
                </div>
            </form>
            <br />

            <div class="comments-list">
                @foreach (var comment in (IEnumerable<UsersComments>)ViewBag.Comments)
                {
                    <div class="container-fluid" style="background-color:lightgray; padding:20px; border:solid; border-color: whitesmoke; width: 500px;">
                        <div class="row">
                            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-center">
                                <img src="@comment.PhotoUser" style="width: 80px; height: 80px; margin-top: 10px">
                                <p style="font-size:10px;">@comment.Firstname @comment.Lastname comentou em @comment.CommentDate</p>
                            </div>
                            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-center">
                                <p style="background-color:aliceblue;">@comment.Comment </p>
                                @if (@comment.UserID == ViewBag.UserID)
                                {
                                    <a asp-controller="MultimediaComments" asp-action="DisabledComment" asp-route-id="@comment.MultimediaCommentID" style="text-align: right; font-size: 10px">Remover comentário@*<img src="~/images/remove.png" style="width:20px; height:20px" />*@</a>
                                }
                            </div>
                        </div>

                    </div>

                }
            </div>
        </div>
    </div>
</div>

