@model IEnumerable<Novateca.Web.Models.Multimedia>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_UserPagesLayout.cshtml";
}

<p>
    <a asp-action="Create">Catalogar nova multimídia</a>
</p>

@*<h2>Index</h2>

    <p>
        <a asp-action="Create">Create New</a>
    </p>*@
@*<table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.TitleMain)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DGM)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SubTitle)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Director)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Locate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PublishingCompany)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Year)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PhysicalDescription)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Subject)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Abstract)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.NoteOfParticipants)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TargetAudience)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Language)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.URLImage)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
    @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.TitleMain)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DGM)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SubTitle)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Director)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Locate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PublishingCompany)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Year)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PhysicalDescription)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Subject)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Abstract)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NoteOfParticipants)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TargetAudience)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Language)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.URLImage)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.MultimediaID">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.MultimediaID">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.MultimediaID">Delete</a>
                </td>
            </tr>
    }
        </tbody>
    </table>*@
<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    @foreach (var item in Model)
    {
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
            <div class="card" style="width: 250px; border: solid; border-color: aliceblue; border-radius: 5px;">
                <a asp-action="Details" asp-route-id="@item.MultimediaID">
                    @{
                        var imgSrc = "/images/sem imagem.jpg";
                        if (item.AvatarImage != null)
                        {
                            var base64 = Convert.ToBase64String(item.AvatarImage);
                            imgSrc = String.Format("data:image/gif;base64,{0}", base64);
                        }
                    }
                    <img src="@imgSrc" style="width: 200px; height: 200px;" />
                </a>
                <div class="card-body" style="margin:5px;">
                    <h5 class="card-title text-center"><b>@Html.DisplayFor(modelItem => item.TitleMain)</b></h5>
                    <p class="card-author text-center" style="font-size: 12px">@Html.DisplayFor(modelItem => item.Director)</p>
                    <button class="collapsible"><p class="text-center">Ver sinopse</p></button>

                    <div class="content" style="padding: 0 18px; display: none; overflow: hidden; background-color: #f1f1f1;">
                        <p> <p class="card-abstract text-capitalize center" style="height: 100px; font-size: 10px">@Html.DisplayFor(modelItem => item.Abstract)</p>
                    </div>
                    <div class="card-options text-center">
                        <a asp-action="Edit" asp-route-id="@item.MultimediaID"><i class="fa fa-pencil-square-o fa-2x" aria-hidden="true"></i></a>
                        <div multimediaId="@item.MultimediaID" class="btnLike" style="display: inline-block;cursor:pointer"><i class="fa @(ViewBag.MultimediaLikes.Contains(item.MultimediaID) ? "fa-heart": "fa-heart-o") fa-2x" aria-hidden="true" style="color: red"></i></div>
                        @*<a asp-action="Create" asp-route-id="@item.MultimediaID"><i class="fa fa-commenting fa-2x" aria-hidden="true"></i></a>*@
                        <div multimediaId="@item.MultimediaID" class="btnFavorite" style="display: inline-block;cursor:pointer"><i class="fa @(ViewBag.FavoriteMultimedias.Contains(item.MultimediaID) ? "fa-star": "fa-star-o") fa-2x" aria-hidden="true" style="color: yellow"></i></div>
                        <a asp-action="Delete" asp-route-id="@item.MultimediaID"><i class="fa fa-trash-o fa-2x" aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>
        </div>
    }
</div>

@section Scripts{
    <script>
    $(".btnLike").on("click", function () {
        obj = $(this);
        $.ajax({
            method: "POST",
            url: "@Url.Action("Like","MultimediaLikes")",
            dataType: "json",
            data: { id: obj.attr("multimediaId") },
            success: function (data) {
                //$.notify(data, "success");
                obj.css({ "color": "red" })
                location.reload();
            }
        });
    });

     $(".btnFavorite").on("click", function () {
        obj = $(this);
        $.ajax({
            method: "POST",
            url: "@Url.Action("Favorite","FavoriteMultimedias")",
            dataType: "json",
            data: { id: obj.attr("multimediaId") },
            success: function (data) {
                //$.notify(data, "success");
                obj.css({ "color": "yellow" })
                location.reload();
            }
        });
    });

    </script>
}

<style>
    .fa-2x {
        font-size: 1.7em;
        color: #02223e;
    }
</style>

