<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>_Menu</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
    <style>
        .vertical-menu {
            height: 100%;
            width: 160px;
            position: fixed;
            z-index: 1;
            top: 0;
            left: 0;
            background-image: linear-gradient(to bottom, #C0C0C0, #696969);
            /* background-color: #87877e; */
            /* background-image: url("../images/menu.jpg"); */
            overflow-x: hidden;
            padding-top: 20px;
        }

        .vertical-menu a {
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            font-size: 16px;
            font-weight: bold;
            text-align: center;
            color: ghostwhite; /* Black text color */
            display: block; /* Make the links appear below each other */
            padding: 12px; /* Add some padding */
            text-decoration: none; /* Remove underline from links */
        }

        .main {
            margin-left: 160px; /* Same as the width of the sidenav */
            font-size: 12px; /* Increased text to enable scrolling */
            padding: 0px 10px;
        }

        .vertical-menu a:hover {
            background-color: #A9A9A9; /* Dark grey background on mouse-over */
        }
        /*
        .vertical-menu a.active {
                    background-color: #000000; 
                    color: white;
                }

        */
        
    </style>
</head>
<body>
    <div class="vertical-menu">
        <div class="row">
            <a href="@Url.Action("Index", "Users")" class="active">
             <img src="~/images/Novateca_Logo_Sem_Fundo.png" style="width: 100px; height: 80px" />
            </a>
        </div>
        
        <a href="@Url.Action("Index", "Books")" class="active">
            <span class="glyphicon glyphicon-book" style="padding: 10px"></span>
            Livros
        </a>
        <!-- <a href="@Url.Action("GetNewspapers", "Information")" class="active">Periódicos</a>
         <a href="@Url.Action("GetMMultimedias", "Information")" class="active">Multimídias</a>
    -->
        <a href="@Url.Action("Index", "FavoriteBooks")" class="active">
            <span class="glyphicon glyphicon-star" style="padding: 10px"></span>
            Favoritos
        </a>
        <a href="@Url.Action("Logout", "Account")" class="active">Sair</a>
        <a href="@Url.Action("About","Home")" class="active">Sobre o Novateca</a>
        <a href="@Url.Action("Contact","Home")" class="active">Contato</a>

        <!--
        <p>&copy; 2018 - Novateca.Web</p>
        <li><a asp-area="" asp-controller="Home" asp-action="About">About</a></li>
    <li><a asp-area="" asp-controller="Home" asp-action="Contact">Contact</a></li>
        -->
    </div>

    <partial name="_CookieConsentPartial" />

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                   
                </ul>
            </div>
           
        </footer>
    </div>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.3.1.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("Scripts", required: false)

</body>
</html>
