@model Novateca.Web.Models.NewspaperLoan

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_UserPagesLayout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>NewspaperLoan</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.LoanDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LoanDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DevolutionDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DevolutionDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DevolutionDateMade)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DevolutionDateMade)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ApplicationUser)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ApplicationUser.FirstName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Newspaper)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Newspaper.CurrentPeriodicity)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.NewspaperLoanID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
