@using Microsoft.AspNetCore.Http
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager


<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Novateca</title>
    <link rel="icon" href="~/favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" href="~/favicon.ico" type="image/x-icon" />
    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
        <link rel="stylesheet" href="~/lib/fontawesome/font-awesome-4.7.0/css/font-awesome.min.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top"
         style="background-color:#4169E1  !important;
                height: 10%; border-color: white;">
        <div class="container-fluid">
            <div class="navbar-header col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                    <a asp-area="" asp-controller="Account" asp-action="HomeAdmin" class="navbar-brand">
                        <img src="~/images/logo.png" style="width:45px; height:45px" />
                    </a>
                </div>
                <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
                </div>
                <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
                    <form asp-area="" asp-controller="Search" asp-action="Index" method="post" class="navbar-right">
                        <div class="input-group" id="adv-search" style="margin-top: 15px;">
                            <input type="text" class="form-control" placeholder="O que você procura?" name="objetoPesquisado" />
                            <div class="input-group-btn">
                                <div class="btn-group" role="group">
                                    @*<div class="dropdown dropdown-lg">
                                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><span class="caret"></span></button>
                                        <div class="dropdown-menu dropdown-menu-right" role="menu">
                                            <form class="form-horizontal" role="form" style="width: 300px; height: 140px">
                                                <div class="form-group" style=" margin:20px">
                                                    <label for="filter">Filtrar por:</label><br />
                                                    <select class="form-control" style="width: 250px;">
                                                        <option value="0" selected>Todas as opções</option>
                                                        <option value="1">Livros</option>
                                                        <option value="2">Multimídias</option>
                                                        <option value="3">Periódicos</option>
                                                        <option value="4">Usuários</option>
                                                    </select>
                                                </div>
                                                <button type="submit" class="btn btn-primary" style=" margin-left:20px"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
                                            </form>
                                        </div>*@
                                        <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
                                    @*</div>*@

                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                    @if (SignInManager.IsSignedIn(User))
                    {
                        <form asp-area="" asp-controller="Account" asp-action="Logout" method="post" id="logoutForm" class="navbar-right">
                            <ul class="nav navbar-nav navbar-right">
                                <li>
                                    <a asp-area="" asp-controller="ApplicationUsers" asp-action="Details" asp-route-id="@UserManager.GetUserAsync(User).Result?.Id" title="Manage">
                                        @{
                                            var imgSrc = "/images/users/sem foto.jpg";
                                            if (@UserManager.GetUserAsync(User).Result?.AvatarImage != null)
                                            {
                                                var base64 = Convert.ToBase64String(@UserManager.GetUserAsync(User).Result?.AvatarImage);
                                                imgSrc = String.Format("data:image/gif;base64,{0}", base64);
                                            }
                                        }

                                        <img src="@imgSrc" class="rounded-circle" alt="Cinque Terre" style="width: 40px; height: 40px; " />
                                    </a>
                                </li>
                                <li>
                                    <button type="submit" class="btn btn-link navbar-btn navbar-link"><img src="~/images/logoff.png" style="width: 40px; height: 40px" /></button>
                                </li>
                            </ul>
                        </form>
                    }
                </div>
            </div>
        </div>
</nav>
    <div class="container body-content">
        @RenderBody()
        <hr />
    </div>
    <nav class="navbar navbar-inverse navbar-fixed-bottom" style="height: 10px; border-color: white;">
        <section id="footer">
            <div class="container">
                <div class="row text-xs-center text-sm-left text-md-left">
                    <div class="col-xs-10 col-sm-10 col-md-10 mt-10 mt-sm-10 text-left text-white">
                        <p><u><a href="#">Novateca. 2018</a></u></p>
                    </div>
                    <div class="col-xs-2 col-sm-2 col-md-2">
                        @*<h5>Quick links</h5>*@
                        <ul class="list-unstyled quick-links">
                            <li><a asp-area="" asp-controller="Home" asp-action="Contact">Suporte</a></li>
                            <li><a asp-area="" asp-controller="Home" asp-action="About">Sobre nós</a></li>
                        </ul>
                    </div>
                </div>
                <div class="row">
                </div>
                <div class="row">

                </div>
            </div>
        </section>
    </nav>
    <!-- ./Footer -->

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/notify/notify.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        <script>
            var coll = document.getElementsByClassName("collapsible");
            var i;

            for (i = 0; i < coll.length; i++) {
                coll[i].addEventListener("click", function () {
                    this.classList.toggle("active");
                    var content = this.nextElementSibling;
                    if (content.style.display === "block") {
                        content.style.display = "none";
                    } else {
                        content.style.display = "block";
                    }
                });
            }
        </script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.3.1.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("Scripts", required: false)

</body>
</html>
