@{
    ViewData["Title"] = "Search";
    Layout = "~/Views/Shared/_UserPagesLayout.cshtml";
}

<h2>Resultados da Pesquisa</h2>
<hr />
<table class="table">
    <thead>
        <tr>
            <th>
                Livros Encontrados
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in ViewBag.BookResults)
        {
            <tr>
                <td>
                    <a asp-action="Details"  asp-controller="Books" asp-route-id="@item.BookID">
                        @item.TitleMain
                    </a>
                </td>

            </tr>
        }

    </tbody>
</table>
<table class="table">
    <thead>
        <tr>
            <th>
               Multimídias Encontradas
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in ViewBag.MultimediaResults)
        {
            <tr>
                <td>
                    <a asp-action="Details" asp-controller="Multimedias" asp-route-id="@item.MultimediaID">
                        @item.TitleMain
                    </a>
                </td>

            </tr>
        }

    </tbody>
</table>
<table class="table">
    <thead>
        <tr>
            <th>
                Livros Encontrados
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in ViewBag.NewspaperResults)
        {
            <tr>
                <td>
                    <a asp-action="Details"  asp-controller="Newspapers" asp-route-id="@item.NewspaperID">
                        @item.TitleMain
                    </a>
                </td>

            </tr>
        }

    </tbody>
</table>

