@model IEnumerable<Novateca.Web.Models.ApplicationUser>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_UserPagesLayout.cshtml";
}

<h2>Usuários cadastrados</h2>

<p>
    <a asp-action="Create">Cadastrar novo usuário</a>
</p>
<table class="table">
    <thead align="center">
        <tr>
            <th>
                Nome
            </th>
            <th>
                Sobrenome
            </th>
            <th>
               CPF
            </th>
            <th>
                Foto
            </th>
            <th>
               Username
            </th>
            @*<th>
                Username normalizado
            </th>*@
            <th>
               Email
            </th>
            @*<th>
                Email normalizado
            </th>*@
            @*<th>
                Email confirmado
            </th>
            <th>
               Senha hash
            </th>
            <th>
                Tempo de segurança
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ConcurrencyStamp)
            </th>*@
            <th>
                Telefone
            </th>
            @*<th>
                Telefone confirmado?
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TwoFactorEnabled)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LockoutEnd)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LockoutEnabled)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AccessFailedCount)
            </th>*@
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User_CPF)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.URLProfilePicture)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.NormalizedUserName)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.NormalizedEmail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmailConfirmed)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PasswordHash)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SecurityStamp)
            </td>*@
            @*<td>
                @Html.DisplayFor(modelItem => item.ConcurrencyStamp)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNumber)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.PhoneNumberConfirmed)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TwoFactorEnabled)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LockoutEnd)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LockoutEnabled)
            </td>*@
            @*<td>
                @Html.DisplayFor(modelItem => item.AccessFailedCount)
            </td>*@
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Editar cadastro</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Detalhes</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Deletar usuário</a>
            </td>
        </tr>
}
    </tbody>
</table>
